* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434;
    padding: 1.25rem;
    font-family: 'Karla', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    max-width: 800px;
    padding: 1.25rem;
    border-radius: .25rem;
    background-color: #F5F5F5;
}

.dice-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 1.25rem
}

.die-face {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: .5rem;
    cursor: pointer;
}

.die-num {
    font-size: 1.75rem;
}

.roll-dice {
    height: 3rem;
    width: 6rem;
    border: none;
    border-radius: .25rem;
    background-color: #5035FF;
    color: white;
    font-size: 1.25rem;
    font-family: 'Karla', sans-serif;
}