* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434;
    padding: 1.25rem;
    font-family: 'Karla', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    max-width: 800px;
    padding: 1.25rem;
    border-radius: .25rem;
    background-color: #F5F5F5;
}

.title {
    font-size: 2.5rem;
    margin: 0;
}

.instructions {
    margin: 0 0 1rem;
}

.dice-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 1.25rem;
    margin-bottom: 2.5rem;
}

.die-face {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: .5rem;
    cursor: pointer;
}

.die-num {
    font-size: 1.25rem;
}

.roll-dice {
    height: 3rem;
    width: 9rem;
    border: none;
    border-radius: .25rem;
    background-color: #5035FF;
    color: white;
    font-size: 1rem;
    font-family: 'Karla', sans-serif;
    cursor: pointer;
}

.roll-dice:focus {
    outline: none;
}

.roll-dice:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.held {
    background-color: #59E391;
}

@media screen and (min-width: 420px) {
    .die-face {
        height: 3rem;
        width: 3rem;
    }
    
    .die-num {
        font-size: 1.75rem;
    }

    .roll-dice {
        font-size: 1.25rem;
    }
}